{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="login-heading">Login to Email Composer</h1>
    <form class="login-form">
        <!-- Add your login form fields here -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <p class="signup-link">Don't have an account? <a href="/sign-up">Sign up here</a></p>
</div>
{% endblock %}
